<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NoBrokerAssignment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D1CC21031EC9800800299BA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1CC211A1EC9800900299BA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1CC21251EC9800900299BA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
